doctype html
html(lang="en-US")
  head
    include _page2_head.jade
  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
    h1 here is some text in layout jade
