.row
  .ten.columns
  .two.columns.sign
    a(href='#') sign up | sign in
.row
  .four.columns
    img.logo(src="/img/savings-multiplied-logo.png")
  .eight.columns
    ul.nav_ul
      li.medium.btn.pill-left.primary
        .header-button.about About
      li.medium.squared.btn.success
        .header-button.contact Contact
      li.medium.squared.btn.warning
        .header-button.blog Blog
      li.medium.btn.pill-right.danger
        .header-button.press Press
      img.tagline(src="/img/tagline.png")
                          
