.eight.columns
  .content-wrap-right
    .row
      p.rightp All > Twin > B/G
    .row
      p.rightp Sort by:
        select 
          option(value="Price") Price
          option(value="Size") Size
          option(value="Condition") Condition
      ul.box-nav
        li.navlink
          a.navrow(href='#') prev.
        li.navlink
          p.navrow |
        li.navlink
          a.navrow(href='#') page num.
        li.navlink
          p.navrow |
        li.navlink
          a.navrow(href='#') next
        li.navlink
          p.navrow |
        li.navlink
          a.navrow(href='#') view all
        li.navlink
          p.navrow |
    .row
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
    .row
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
    .row
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
    .row
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
      .three.columns
        .overbox
          .box
          p Sailor Suits $15.00 Jane Joe 4 hours
