ul
  li.item
    a(href='#') Buy
  li.item
    a(href='#') Sell
  li.item
    a(href='index.html') How it Works
  li.item
    a(href='#') Links
  li.item
    a(href='#') Community
  li.item
    input.input( type="text" placeholder="Search...")
                
