doctype html
html(lang="en-US")
  head
    include partials/_page2_head.jade
  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    // Brennan
    .header
      include partials/_page2_body_header.jade
        
    .nav
      include partials/_page2_body_nav.jade
    
    .content
      include partials/_page2_body_content_left.jade
      .eight.columns
        .content-wrap-right
          .row
            p.rightp All > Twin > B/G
          .row
            p.rightp Sort by:
              select 
                option(value="Price") Price
                option(value="Size") Size
                option(value="Condition") Condition
            ul.box-nav
              li.navlink
                a.navrow(href='#') prev.
              li.navlink
                p.navrow |
              li.navlink
                a.navrow(href='#') page num.
              li.navlink
                p.navrow |
              li.navlink
                a.navrow(href='#') next
              li.navlink
                p.navrow |
              li.navlink
                a.navrow(href='#') view all
              li.navlink
                p.navrow |
          .row
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
          .row
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
          .row
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
          .row
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
            .three.columns
              .overbox
                .box
                p Sailor Suits $15.00 Jane Joe 4 hours
      .row.linkrow
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here

    script(src="/vendor/jquery/dist/jquery.min.js")  
    
    script(src="/vendor/modernizr/modernizr.js")  

    script(src="/vendor/gumby/js/libs/gumby.min.js")
