doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")
    include partials/_page2_head.jade
  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
    
    include partials/_page2_body_header.jade
        
    .nav
      include partials/_page2_body_nav.jade
    
    .content
      .row.contentcontain
        include partials/_page2_body_content-left.jade
        include partials/_page2_body_content-right.jade

    .row.linkrow
      include partials/_page2_body_linkrow.jade

    script(src="/vendor/jquery/dist/jquery.min.js")  
    
    script(src="/vendor/modernizr/modernizr.js")  

    script(src="/vendor/gumby/js/libs/gumby.min.js")
